@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn more<a href="https://youtu.be/8TZMtslA3UY?si=DWJHGVhZ-YL2wO_O"> d </a> d</p>
</div>
